.simple-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

.simple-form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.simple-form-btn {
    padding: 5px;
}