.simple-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    margin: auto;
}

.simple-form-input {
    background: rgb(152, 132, 252, 0.4);
    color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.simple-form-input::placeholder {
    color: white;
}

.simple-form-btn {
    padding: 5px;
}

.simple-form-btn:hover {
    transform: scale(1.03);
}