.swiper-container {
    min-width: 300px;
    width: 100%;
    min-height: 100px;
    height: 90vh;
    overflow: hidden;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.swiperslide-container {
    width: 100%;
}